.layout {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  background-color: #001529;
}

.content {
  padding: 0;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.feedback-form {
  margin-top: 24px;
}

.feedback-list {
  margin-top: 24px;
}
